.search-form {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input {
  font-size: 18px;
  flex-grow: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
}

/* .search-btn {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
} */

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}


.gallery {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* три равных столбца */
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}

.photo-card {
  height: 100%; /* задаем высоту карточки */
  display: flex;
  flex-direction: column;
}



.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.gallery__link {
  display: block; /* ссылка занимает всю область карточки */
  text-decoration: none;
    
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info-item {  
    margin-top: 4px;
    margin-bottom: 4px;  
}

.search-btn,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #a6a6ad;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.load-more {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.load-more.is-hidden {
  display: none;
}